*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serfif;
}
.navbar{
    padding: 10px 15px;
}
.navbar-brand {
    border-radius: 25px;
}
.navbar-nav:hover {
    color: blue;
    border-radius: 50px 20px;
}

.col-md-6 h1{
    text-align: center;
}
